<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Restaurants</title>
    </head>
    <body>
        {{range .}}
            <h1>{{.Name}}</h1>
            {{range .Meat}}
                <h3>{{.Kind}}</h3>
                {{range .Menu}}
                    <ul>
                        <li>{{.Name}} - Price:${{.Price}}</li>
                    </ul>
                {{end}}
            {{end}}
        {{end}}
    </body>
</html>
