<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>
    <h1>{{.Name}}</h1>
    <h1>{{.Age}}</h1>
    <h2>{{.SomeProcessing}}</h2>
    <h2>{{.AgeDbl}}</h2>
    <h2>{{.AgeDbl | .TakesArg}}</h2>
</body>
</html>
