<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>
    EXAMPLE 1
    {{range .}}
        {{.}}
    {{end}}

    EXAMPLE 2
    {{if .}}
        {{.}}
    {{end}}

    EXAMPLE 3
    {{range .}}
        {{if .Name}}
            {{.}}
        {{end}}
    {{end}}

    EXAMPLE 4
    {{range .}}
        {{if and .Name .Admin}}
            Name - {{.Name}}
            Motto - {{.Motto}}
            Admin - {{.Admin}}
        {{end}}
    {{end}}
</body>
</html>
