<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>
    {{if gt .Score1 .Score2}}
        Score1 > Score2
    {{end}}

    {{if lt .Score1 .Score2}}
        Score1 < Score 2
    {{end}}

    {{if eq .Score1 .Score2}}
        Score1 == Score2
    {{end}}

    {{if gt .Score1 1}}
        Score1 > 1
    {{end}}
</body>
</html>
